footer {
	padding-top: 50px
}
.boxleft {
	width: auto;
    height: auto;
    padding: 25px;
    border: 0.5px solid grey;
    box-sizing: border-box;
    border-left-color: white
}
.box {
	width: auto;
    height: auto;
    padding: 25px;
    border: 0.5px solid grey;
    box-sizing: border-box;
}
.boxright {
	width: auto;
    height: auto;
    padding: 25px;
    border: 0.5px solid grey;
    box-sizing: border-box;
	border-right-color: white
}

.padder{
	padding: 15px 15px 15px 35px;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.ptext {
	padding-top: 5px;
	text-align: center;
}

.mtext {
	color : grey;
	text-align: center;
}




.cbutton {
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button1 {background-color: #008CBA;} /* Blue */
.button2 {background-color: #f44336;} /* Red */
.button3 {color: black; border : 1px solid black;} /* White */
.button4 {background-color: #555555;} /* Black */

.cbutton:hover {
	background-color: #777;
}